

.equalizer {
    height: 300px;
    margin-top:10px;
    border: #cdcdcd medium solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: yellow;
    background-color: #1d1e1f;
    padding-left: 10px;
}
.video-equalizer {
  height: 680px;
    margin-top:10px;
    border: #cdcdcd medium solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: yellow;
    background-color: #1d1e1f;
    padding-left: 10px;
    padding-right: 10px;
}

.visualizer {
    border: #cdcdcd medium solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: yellow;
    background-color: #1d1e1f;
}
#visualCanvas{
    padding-left: 6px;
    padding-right: 6px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;

}

.controller{
    margin-top:10px;
    border: #cdcdcd medium solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding-left: 10px;
    color: yellow;
    background-color: #1d1e1f;
}

.management{

    margin-top:10px;
    border: #cdcdcd medium solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding-left: 10px;
    color: yellow;
    background-color: #1d1e1f;
}


body  {
    background: #1d1e1f;
    font-family: 'Exo 2', sans-serif;
}

.heading h3 {
    font-size: 4em;
    color: yellow;
    margin: 0;
    padding: 0;
}


.marquee {
    width: 300px;
    overflow: hidden;
    border:1px solid #ccc;
    background: black;
    color: rgb(202, 255, 195);
}
